// Place all the styles related to the converters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

a {
  text-decoration: none;
}

.btn-primary, .btn-danger, .btn-info, .btn-success {
  color: white !important;
}

.btn-space {
  margin: 0 5px 0 0;
}

/*################# header #################*/

.nav li a {
  padding: 16px 16px;
  border-radius: 0px;
  &:hover {
    background-color: #c0c0c0;
    color: #333333;
  }
}

#nav_button {
  height: auto;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
}


/*################# typography #################*/

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}